@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*tamaños base*/
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Bold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
/*tamaños base*/
body {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background-color: #e3ecc2;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  line-height: 1.5;
  font-family: "Roboto";
  font-weight: 600;
  overflow-x: hidden;
}

input {
  font-weight: 400;
}

textarea {
  font-size: inherit;
}

::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: inherit;
  font-weight: 200;
  margin-left: 2rem;
}

::-moz-placeholder {
  font-family: "Roboto";
  font-size: inherit;
  font-weight: 200;
  margin-left: 2rem;
}

:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: inherit;
  font-weight: 200;
  margin-left: 2rem;
}

::-ms-input-placeholder {
  font-family: "Roboto";
  font-size: inherit;
  font-weight: 200;
  margin-left: 2rem;
}

::placeholder {
  font-family: "Roboto";
  font-size: inherit;
  font-weight: 200;
  margin-left: 2rem;
}

h1, h2, h3 {
  line-height: 1.2;
  font-family: "Roboto";
  font-weight: 900;
}

h1, h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
}

img, video {
  max-width: 100%;
  height: auto;
}

p {
  font-weight: 100;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
}

span {
  font-weight: bolder;
  font-size: 1.1rem;
}

html, body {
  scroll-behavior: smooth;
  font-size: 0.95rem;
}

:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #ee322d;
          box-shadow: 0 0 0 0.2rem #ee322d;
}

@media (min-width:36rem) {
  html, body {
    font-size: 1rem;
  }
}
@media (min-width:48rem) {
  html, body {
    font-size: 1.2rem;
  }

  h1, h2 {
    font-size: 2.5rem;
  }
}
@media (min-width:62rem) {
  html, body {
    font-size: 1.3rem;
  }
}
@media (min-width:75rem) {
  html, body {
    font-size: 1.4rem;
  }
}
@media (min-width:110rem) {
  html, body {
    font-size: 2.3rem;
  }
}
@media (min-width:160rem) {
  html, body {
    font-size: 3.5rem;
  }
}
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.l-header {
  position: relative;
  width: 100%;
  height: 18rem;
  background: url("../images/background/small-background.jpg") 0 0/cover no-repeat;
  padding: 0.5rem 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.l-header::before, .l-header::after {
  position: absolute;
  display: inline-block;
}
.l-header::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 0, 66, 0.6)), to(rgba(50, 0, 66, 0.6))), url("../images/trianguleCentral.svg") center center/40% no-repeat, url("../images/trianguleTop.svg") left top/20% no-repeat, url("../images/trianguleBotom.svg") right 120%/20% no-repeat;
  background: -o-linear-gradient(rgba(50, 0, 66, 0.6), rgba(50, 0, 66, 0.6)), url("../images/trianguleCentral.svg") center center/40% no-repeat, url("../images/trianguleTop.svg") left top/20% no-repeat, url("../images/trianguleBotom.svg") right 120%/20% no-repeat;
  background: linear-gradient(rgba(50, 0, 66, 0.6), rgba(50, 0, 66, 0.6)), url("../images/trianguleCentral.svg") center center/40% no-repeat, url("../images/trianguleTop.svg") left top/20% no-repeat, url("../images/trianguleBotom.svg") right 120%/20% no-repeat;
  z-index: 20;
}

@media (min-width:36rem) {
  .l-header {
    background: url("../images/background/medium-background.jpg") 0 0/cover no-repeat;
  }
}
@media (min-width:48rem) {
  .l-header {
    height: 32rem;
  }
}
@media (min-width:62rem) {
  .l-header {
    background: url("../images/background/large-background.jpg") 0 0/cover no-repeat;
  }
}
@media (min-width:75rem) {
  .l-header {
    background: url("../images/background/extra-background.jpg") 0 0/cover no-repeat;
  }
}
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.l-grafic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5d5d5d;
  text-align: left;
  padding: 0 0.5rem;
  background-color: #eeeeee;
}

.grafic {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:48rem) {
  .l-grafic {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .grafic {
    width: 50%;
  }
}
/*tamaños base*/
.article--circles {
  color: #5d5d5d;
  padding: 0.5rem;
  height: auto;
}

/*tamaños base*/
.article--services {
  padding: 3rem 1rem;
  position: relative;
  background: url("../images/trianguleCentral.svg") center -2rem/20rem no-repeat, url("../images/background/services/small.jpg") 0 0/cover no-repeat;
}

@media (min-width:36rem) {
  .article--services {
    background: url("../images/trianguleCentral.svg") center -2rem/23rem auto no-repeat, url("../images/background/services/medium.jpg") 0 0/cover no-repeat;
  }
}
@media (min-width:48rem) {
  .article--services {
    background: url("../images/trianguleCentral.svg") center -2rem/32rem auto no-repeat, url("../images/background/services/large.jpg") 0 0/cover no-repeat;
  }
}
@media (min-width:62rem) {
  .article--services {
    background: url("../images/trianguleCentral.svg") center -2rem/35rem auto no-repeat, url("../images/background/services/extra.jpg") 0 0/cover no-repeat;
  }
}
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.article--nextStep {
  color: #000;
  padding-top: 10%;
  padding-bottom: 0;
  background: url("../images/trianguleRed.svg") center -2rem/cover no-repeat, url("../images/logoGrey.svg") 0 0/4rem 3rem border-box, #ededed;
  position: relative;
}
.article--nextStep::before {
  content: "";
  background: url("../images/logo1.svg") center center/50% no-repeat, #ffffff;
  border: 0.15rem solid #fff;
  position: absolute;
  top: -8%;
  left: 42.5%;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  z-index: 100;
  -webkit-box-shadow: 0 0 0 0.06rem #000, 0 0 0 0.1rem #000 inset;
          box-shadow: 0 0 0 0.06rem #000, 0 0 0 0.1rem #000 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
}
.article--nextStep > * {
  position: relative;
  z-index: 10;
}

@media (min-width:36rem) {
  .article--nextStep::before {
    width: 10vw;
    height: 10vw;
    left: 45%;
  }
}
@media (min-width:75rem) {
  .article--nextStep {
    background-position: bottom -6rem, 0 0;
  }
}
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.l-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.footer__derechosReservados {
  color: #000;
}

/*tamaños base*/
.pScroll {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.2rem;
  position: relative;
  z-index: 30;
  top: 0;
}
.pScroll:hover {
  cursor: pointer;
}
.pScroll::before, .pScroll::after {
  content: "";
  display: inline-block;
  position: absolute;
  border: 0.05rem solid #fff;
}
.pScroll::before {
  width: 1rem;
  height: 1.8rem;
  border-radius: 0.48rem;
  top: -2.2rem;
}
.pScroll::after {
  height: 0.4rem;
  border-width: 0.05rem;
  top: -1.9rem;
  left: 47.97%;
}

/*tamaños base*/
.article > *:not(ul) {
  margin-bottom: 2rem;
}

.article__span {
  font-size: inherit;
}

.article__span--services {
  color: #ee322d;
}

.article__span--nextStep {
  color: #f2f2f2;
}

.article__span--graficData {
  color: #ee322d;
}

.article__p {
  margin: 0 auto 2rem;
  width: 90%;
  font-size: 1.1rem;
}

.article__p--services {
  margin-bottom: 1rem;
  color: #c6c6c6;
  position: relative;
  z-index: 20;
}

.article__p--nextStep {
  margin-bottom: 0.5rem;
}

.article__h2 {
  position: relative;
  color: #000;
}
.article__h2::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10%;
  height: 0.15rem;
  bottom: -0.8rem;
  left: 47.5%;
  background-color: #5d5d5d;
}

.article__h2--grafic::after {
  left: 47%;
  background-color: black;
}

.article__h2--services::after {
  left: 47.5%;
  background-color: #c6c6c6;
}

.article__h2--nextStep::after {
  background-color: #494949;
  left: 47.5%;
  bottom: -0.5rem;
}

@media (min-width:36rem) {
  .article > *:not(ul) {
    margin-bottom: 1rem;
  }

  .article__p {
    font-size: 1.2rem;
  }

  .article__p--services {
    margin-bottom: 1rem;
  }

  .article__p--nextStep {
    margin-bottom: 1.5rem;
  }
}
@media (min-width:48rem) {
  .article__p--services {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .article > *:not(ul) {
    margin-bottom: 1.5rem;
  }
}
@media (min-width:62rem) {
  .article__p {
    width: 75%;
  }
}
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.container {
  position: relative;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.containerLogoMenu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.containerLogoMenu__ul > * {
  padding: 0.1rem 0.5rem;
}

.containerLogoMenu__div {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.containerLogoMenu__img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.containerLogoMenu__p, .containerLogoMenu__a {
  text-transform: uppercase;
}

.containerLogoMenu__p {
  font-size: 1rem;
}

.containerLogoMenu__a {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 1.5rem;
  position: relative;
  line-height: 1;
}
.containerLogoMenu__a::after {
  content: "";
  width: 0.2rem;
  height: 100%;
  background-color: #5e5e5e;
  position: absolute;
  bottom: 0;
  right: -0.8rem;
}

@media (min-width:36rem) {
  .containerLogoMenu__img {
    width: 1.8rem;
    height: 1.8rem;
  }
}
@media (min-width:48rem) {
  .containerLogoMenu__img {
    width: 2rem;
    height: 2rem;
  }
}
@media (min-width:62rem) {
  .containerLogoMenu__img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (min-width:75rem) {
  .containerLogoMenu__img {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width:110rem) {
  .containerLogoMenu__img {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width:160rem) {
  .containerLogoMenu__img {
    width: 5rem;
    height: 5rem;
  }
}
/*tamaños base*/
.centralContainer {
  position: relative;
  z-index: 30;
  margin-top: 1rem;
}
.centralContainer > * {
  margin-bottom: 0.5rem;
}

.centralContainer__h1 {
  color: #fff;
}

.centralContainer__h2 {
  color: #ee322d;
}

.centralContainer__p {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
  position: relative;
  font-size: 0.9rem;
}

/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.graficData {
  padding: 0.5rem;
}
.graficData > * {
  margin-bottom: 0.5rem;
}

.graficData__hr {
  font-weight: 100;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.graficData__p1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.graficData__containerVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graficData__p2 {
  width: 70%;
  padding: 0.5rem;
}

.graficData__video {
  width: 30%;
  padding: 0.5rem;
}

@media (min-width:48rem) {
  .graficData {
    width: 50%;
  }
}
/*tamaños base*/
.grafic__element {
  width: 100%;
}

/*tamaños base*/
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.figureCircles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}

.figureCircles__circle1 {
  background-color: rgba(241, 117, 123, 0.8);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.figureCircles__circle2 {
  background-color: rgba(119, 207, 199, 0.8);
  width: 9rem;
  height: 9rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -1rem;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.figureCircles__circle3 {
  background-color: rgba(109, 213, 237, 0.8);
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -2rem;
  z-index: 2;
}

.figureCircles__circle4 {
  background-color: #f6ce06;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -3rem;
  z-index: 1;
}

@media (min-width:36rem) {
  .figureCircles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 2rem;
    font-size: 0.8rem;
  }

  .figureCircles__circle1 {
    background-color: rgba(241, 117, 123, 0.8);
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
  }

  .figureCircles__circle2 {
    top: 0;
    left: -0.5rem;
    background-color: rgba(119, 207, 199, 0.8);
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
  }

  .figureCircles__circle3 {
    top: 0;
    left: -1rem;
    background-color: rgba(109, 213, 237, 0.8);
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
  }

  .figureCircles__circle4 {
    top: 0;
    left: -1.5rem;
    background-color: #f6ce06;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
  }
}
@media (min-width:48rem) {
  .figureCircles__circle1 {
    background-color: rgba(241, 117, 123, 0.8);
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
  }

  .figureCircles__circle2 {
    background-color: rgba(119, 207, 199, 0.8);
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
  }

  .figureCircles__circle3 {
    background-color: rgba(109, 213, 237, 0.8);
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
  }

  .figureCircles__circle4 {
    background-color: #f6ce06;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
  }
}
@media (min-width:62rem) {
  .figureCircles {
    font-size: 0.9rem;
  }

  .figureCircles__circle1 {
    background-color: rgba(241, 117, 123, 0.8);
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
  }

  .figureCircles__circle2 {
    background-color: rgba(119, 207, 199, 0.8);
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
  }

  .figureCircles__circle3 {
    background-color: rgba(109, 213, 237, 0.8);
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
  }

  .figureCircles__circle4 {
    background-color: #f6ce06;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
  }
}
@media (min-width:75rem) {
  .figureCircles {
    font-size: 1rem;
  }

  .figureCircles__circle1 {
    background-color: rgba(241, 117, 123, 0.8);
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
  }

  .figureCircles__circle2 {
    background-color: rgba(119, 207, 199, 0.8);
    width: 17rem;
    height: 17rem;
    border-radius: 100%;
  }

  .figureCircles__circle3 {
    background-color: rgba(109, 213, 237, 0.8);
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
  }

  .figureCircles__circle4 {
    background-color: #f6ce06;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
  }
}
@media (min-width:110rem) {
  .figureCircles__circle1 {
    background-color: rgba(241, 117, 123, 0.8);
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
  }

  .figureCircles__circle2 {
    background-color: rgba(119, 207, 199, 0.8);
    width: 22rem;
    height: 22rem;
    border-radius: 100%;
  }

  .figureCircles__circle3 {
    background-color: rgba(109, 213, 237, 0.8);
    width: 25rem;
    height: 25rem;
    border-radius: 100%;
  }

  .figureCircles__circle4 {
    background-color: #f6ce06;
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
  }
}
/*
Contenedor de los (párrafos y los h3) del article correspondiente a los circulos de colores
*/
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.containerParraf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  color: #5d5d5d;
}

.articleParraf {
  padding: 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
}

.articleParraf__h3 {
  color: #000;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.articleParraf__h3:first-of-type {
  padding-top: 0;
}

.articleParraf__p, .articleParraf__h3 {
  font-size: 0.8rem;
}

@media (min-width:36rem) {
  .containerParraf {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .articleParraf {
    width: 50%;
  }
}
@media (min-width:62rem) {
  .containerParraf {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width:75rem) {
  .containerParraf {
    width: 80%;
  }
}
@media (min-width:110rem) {
  .containerParraf {
    width: 75%;
  }

  .articleParraf {
    width: 25%;
    margin: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.services__ul {
  background-color: #7a225d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eaafd6;
  position: relative;
  z-index: 20;
}

.services__ul1 {
  background-color: #480048;
}
.services__ul1 li::before {
  background-color: #500c50;
}

.services__ul2 {
  background-color: #300030;
}
.services__ul2 li::before {
  background-color: #3a0c3a;
}

.services__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__li::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #802c64;
  color: #601848;
}

.services__container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0.7rem;
}

.services__h3 {
  margin-bottom: 0.5rem;
}

@media (min-width:48rem) {
  .services__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .services__li {
    width: 33.33%;
  }
}
@media (min-width:62rem) {
  .services__container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.formul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5% 20%;
  -webkit-box-shadow: 0 0.06rem #dfdfdf;
          box-shadow: 0 0.06rem #dfdfdf;
}

.article__containerForm {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 90%;
}

.formul__divContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
}

.forml__label {
  position: absolute;
  left: 0;
  top: 0;
  clip: rect(0 0 0 0);
}

@media (min-width:36rem) {
  .formul {
    padding: 1rem 6rem;
  }

  .article__containerForm {
    width: 85%;
  }
}
@media (min-width:48rem) {
  .article__containerForm {
    width: 80%;
  }
}
@media (min-width:62rem) {
  .article__containerForm {
    width: 70%;
  }
}
@media (min-width:75rem) {
  .article__containerForm {
    width: 60%;
  }
}
@media (min-width:110rem) {
  .article__containerForm {
    width: 50%;
  }
}
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.inputext {
  width: 100%;
  border: 0;
  border-bottom: 0.1rem #ebebeb solid;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  position: relative;
  font-weight: 400;
}
.inputext :focus {
  -webkit-box-shadow: 0 0 0 0.2rem #ee322d;
          box-shadow: 0 0 0 0.2rem #ee322d;
}

.submit {
  width: auto;
  padding: 0.6rem 3rem;
  cursor: pointer;
  border: 0.15rem solid #878787;
}
.submit:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.submit:hover {
  background-color: #e6e6e6;
}
.submit:active {
  background-color: #cccccc;
}

.textarea {
  margin-bottom: 1rem;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}
.textarea::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: inherit;
  margin-left: 2rem;
}
.textarea::-moz-placeholder {
  font-family: "Roboto";
  font-size: inherit;
  margin-left: 2rem;
}
.textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: inherit;
  margin-left: 2rem;
}
.textarea::-ms-input-placeholder {
  font-family: "Roboto";
  font-size: inherit;
  margin-left: 2rem;
}
.textarea::placeholder {
  font-family: "Roboto";
  font-size: inherit;
  margin-left: 2rem;
}

/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
/*tamaños base*/
.socialMedia {
  color: #320042;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia--header {
  position: relative;
  margin-bottom: 3rem;
}
.socialMedia--header::before {
  content: "";
  position: absolute;
  height: 0.15rem;
  width: 75%;
  left: 12.5%;
  top: -2rem;
  background-color: #ffffff;
}

.socialMedia__li {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia__a:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #e3ecc2, 0 0 0 0.4rem #ee322d;
          box-shadow: 0 0 0 0.2rem #e3ecc2, 0 0 0 0.4rem #ee322d;
}

.socialMedia__a--header {
  margin-right: 1rem;
}
.socialMedia__a--header:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #000000, 0 0 0 0.4rem #ee322d;
          box-shadow: 0 0 0 0.2rem #000000, 0 0 0 0.4rem #ee322d;
}

/*tamaños base*/
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.icon:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.icon:hover {
  color: #30003f;
}
.icon:active {
  color: #2f003e;
}
.icon:link {
  color: #320042;
}
.icon:visited {
  color: #ee322d;
}

/*tamaños base*/
/*tamaños base*/
/*
mixin creado para el comportamiento de iconfonts y botones
si es un boton trabajo con el color de fondo si es una fuente trabajo con el color del texto
*/
.menu {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  height: 100%;
  font-size: 1rem;
  position: relative;
}
.menu:hover {
  cursor: pointer;
}

.menu__all {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #000000;
  width: 100%;
  z-index: 2000;
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  -o-transition: transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.menu__ul {
  margin-bottom: 5rem;
}

.menu__li {
  width: 100%;
}
.menu__li:hover {
  background-color: #ffffff;
}

.menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}
.menu__close:hover {
  background-color: #000000;
}

@media (min-width:48rem) {
  .menu__all {
    width: 50%;
  }

  .menu::after {
    content: "MENU";
    margin: 0 1rem;
    font-size: inherit;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 600;
  }
}
@media (min-width:62rem) {
  .menu__all {
    width: 40%;
  }
}
@media (min-width:75rem) {
  .menu__all {
    width: 33%;
  }
}
/*tamaños base*/
.link {
  cursor: pointer;
  line-height: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
.link:link {
  color: #ffffff;
}
.link:hover {
  color: #000000;
}
.link:active, .link:focus {
  color: black;
  -webkit-box-shadow: 0 0 0 0.2rem #ee322d inset;
          box-shadow: 0 0 0 0.2rem #ee322d inset;
}
.link:visited {
  color: #ee322d;
}
.link::before {
  margin-right: 4rem;
  width: 6rem;
  font-size: 1.3rem;
}

/*tamaños base*/
.buttom {
  display: inline-block;
  background-color: #000000;
  font-size: 1.2rem;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
  border: 0;
  cursor: pointer;
}
.buttom:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.buttom:hover {
  background-color: #0b000f;
}
.buttom:active {
  background-color: black;
}
.buttom::before {
  color: #ffffff;
  font-size: 2.5rem;
}

/*tamaños base*/
/* .square-line{
    position: relative;
    overflow: hidden;
    &::after{
        content: "";
        position: absolute;
        height: 2rem;
        width: 2rem;
        border-bottom: .2rem solid $color-white;
        border-left: .2rem solid $color-white;
        left: 5rem;
        bottom:49%;        
    }
}
.line{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-color: $color-white;
        height: 100%;
        width: .2rem;
        left: 5rem;
        bottom:0;        
    }
} */
.show {
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  -o-transition: transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=styles.css.map */