@import "../utilities/_variables";
.article--circles{
    color:rgb(93, 93, 93);
    padding: .5rem;
    height: auto;    
}
@media #{$landscape-phones}{
   
}
@media #{$tablets}{
   
}
@media #{$desktops}{
  
}
@media #{$large-desktops}{
   
}
@media #{$extra-large-desktops}{
   
}
@media #{$four-k}{
  
}
