@import "../utilities/mixins";
@import "../utilities/variables";
.l-footer{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding: 1rem;
}
.footer__derechosReservados{
    color: #000;
}
@media #{$landscape-phones}{
    
}
@media #{$tablets}{
  
}
@media #{$desktops}{
    
}
@media #{$large-desktops}{
  
}