@import "../utilities/mixins";
@import "../utilities/_variables";
.l-grafic{
    width: 100%;
    @include c-flex(column);
    color:rgb(93, 93,93);   
    text-align: left; 
    padding: 0 0.5rem;  
    background-color:$background-color-grafic-data;
}
.grafic{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media #{$landscape-phones}{
    
}
@media #{$tablets}{
  .l-grafic{
      flex-direction: row;
  } 
  .grafic{
      width: 50%;
  }
}
@media #{$desktops}{
   
}
@media #{$large-desktops}{
    
}