@import "../utilities/mixins";
@import "../utilities/_variables";
.article--nextStep{
    color: #000;
    padding-top:10%;
    padding-bottom: 0;
    background:url("../images/trianguleRed.svg") center -2rem / cover no-repeat, url("../images/logoGrey.svg") 0 0 / 4rem 3rem border-box,#ededed;    
    position: relative;  
    &::before{
        content:"";
        background: url("../images/logo1.svg") center center  /50% no-repeat,$color-white;
        border: .15rem solid #fff;
        position: absolute;
        top:-8%;
        left: 42.5%;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        z-index: 100;
        box-shadow: 0 0 0 .06rem #000, 0 0 0 .1rem #000 inset;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        line-height: 2;       
    }   
     
    >*{
        position: relative;
        z-index: 10;
    }
}
@media #{$landscape-phones}{    
    .article--nextStep{        
        &::before{
            width: 10vw;
            height: 10vw;
            left: 45%;
        }
    }
}
@media #{$tablets}{
}
@media #{$desktops}{
    
}
@media #{$large-desktops}{
    .article--nextStep{
        background-position: bottom -6rem, 0 0 ;
    }   
}
@media #{$extra-large-desktops}{
   
}