@import "../utilities/variables";
.article--services{    
    padding: 3rem 1rem;
    position: relative;    
    background: url("../images/trianguleCentral.svg") center -2rem / 20rem no-repeat,url("../images/background/services/small.jpg") 0 0 / cover no-repeat;   
}
@media #{$landscape-phones}{
    .article--services{       
        background: url("../images/trianguleCentral.svg") center -2rem / 23rem auto no-repeat,url("../images/background/services/medium.jpg") 0 0 / cover no-repeat;   
    }
}
@media #{$tablets}{
    .article--services{
        background: url("../images/trianguleCentral.svg") center -2rem / 32rem auto no-repeat,url("../images/background/services/large.jpg") 0 0 / cover no-repeat;           
    }
}
@media #{$desktops}{
    .article--services{
        background: url("../images/trianguleCentral.svg") center -2rem / 35rem auto no-repeat,url("../images/background/services/extra.jpg") 0 0 / cover no-repeat;           
    }
}
@media #{$large-desktops}{
    
}
@media #{$extra-large-desktops}{
   
}