$color-violet:rgb(50, 0, 66);
$color-red:rgb(238,50,45);
$color-ligth-red:rgba(241, 117, 123, 0.8);
$color-yellow:rgb(246, 206, 6);
$color-ligth-blue:rgba(109, 213, 237,0.8);
$color-ligth-blue2:rgba(119, 207, 199, 0.8);
$color-ligth-white:#eeeeee;
$color-ligth:#e3ecc2;
$color-white:#ffffff;
$color-black:#000000;
$color-gray:#5e5e5e;
$color-gray2:#8A8A8A;

$color-primary:$color-violet;
$color-secundary:$color-red;
$color-h1:$color-red;
$color-circle1:$color-ligth-red;
$color-circle2:$color-ligth-blue2;
$color-circle3:$color-ligth-blue;
$color-circle4:$color-yellow;
$color-span:$color-red;
$color-link:$color-gray2;
$background-color-grafic-data:$color-ligth-white;
$background-color-menu:$color-black;
$background-color-body:$color-ligth;

/*tamaños base*/
$font-size-base-phones:.95rem;
$font-size-base-landscape-phones:1rem;
$font-size-base-tablets:1.2rem;
$font-size-base-desktops:1.3rem;
$font-size-base-large-desktops:1.4rem;
$font-size-base-extra-large-desktops:2.2rem;
$font-size-base-four-k:3rem;

$font-size-menu:1rem;
$font-size-h1:1.6rem;
$font-size-h3:1.2rem;
$font-size-p:.8rem;
$font-size-a:.8rem;
$font-size-span:1.1rem;
$line-height-h1:1.2;
$line-height:1.5;
$letter-spacing:0.05rem;
$word-spacing: 0.1rem;


$phones:"(min-width:24rem)";
$landscape-phones:"(min-width:36rem)";// Small devices (landscape phones, 576px and up)
$tablets:"(min-width:48rem)";// Medium devices (tablets, 768px and up)
$desktops:"(min-width:62rem)";//Large devices (desktops, 992px and up)
$large-desktops:"(min-width:75rem)";// Big large devices (large desktops, 1200px and up)
$extra-large-desktops:"(min-width:110rem)";// Extra large devices (large desktops, 1760px and up)
$four-k:"(min-width:160rem)";//4k...1760px and up
