$color-primary:rgb(50, 0, 66);
$color-h1:rgb(238,50,45);
$color-circle1:rgba(241, 117, 123, 0.8);
$color-circle2:rgba(119, 207, 199, 0.8);
$color-circle3:rgba(109, 213, 237,0.8);
$color-circle4:rgb(246, 206, 6);
$background-color-grafic-data:#f8f8f8;
$color-span:#ed322d;