@import "../utilities/variables";
.centralContainer{
    position: relative;
    z-index: 30;
    margin-top: 1rem;
    >*{
        margin-bottom: .5rem;
    }
}
.centralContainer__h1{
    color: #fff;
}
.centralContainer__h2{
    color:$color-h1;
}
.centralContainer__p{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    position: relative; 
    font-size: .9rem;  
}
@media #{$landscape-phones}{
    
}
@media #{$tablets}{    
   
}
@media #{$desktops}{
      
}
@media #{$large-desktops}{
    
}
@media #{$extra-large-desktops}{
   
}
@media #{$four-k}{
   
}
