@import "../utilities/mixins";
@import "../utilities/variables";
.container{
    position: relative;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.containerLogoMenu__ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    >*{
        padding: .1rem .5rem;
    }
}
.containerLogoMenu__div{
  align-items: baseline;
}
.containerLogoMenu__img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}
.containerLogoMenu__p,.containerLogoMenu__a{
   text-transform: uppercase;
}
.containerLogoMenu__p{
    font-size: 1rem;
}
.containerLogoMenu__a{
    color:$color-white;
    font-weight: 600;
    font-size: $font-size-menu;
    margin-right: 1.5rem;
    position: relative;
    line-height: 1;
    &::after{
        content: "";
        width: .2rem;
        height: 100%;
        background-color: $color-gray;
        position: absolute;
        bottom: 0;
        right: -.8rem;
    }
}
@media #{$landscape-phones}{
    .containerLogoMenu__img{
        width: 1.8rem;
        height: 1.8rem;        
    }
}
@media #{$tablets}{
    .containerLogoMenu__img{
        width: 2rem;
        height: 2rem;        
    }
}
@media #{$desktops}{    
    .containerLogoMenu__img{
        width: 2.5rem;
        height: 2.5rem;        
    }
}
@media #{$large-desktops}{
    .containerLogoMenu__img{
        width: 3rem;
        height: 3rem;        
    }
}
@media #{$extra-large-desktops}{
    .containerLogoMenu__img{
        width: 4rem;
        height: 4rem;        
    }
}
@media #{$four-k}{
    .containerLogoMenu__img{
        width: 5rem;
        height: 5rem;        
    }
}