/*
Contenedor de los (párrafos y los h3) del article correspondiente a los circulos de colores
*/
@import "../utilities/mixins";
@import "../utilities/_variables";
.containerParraf{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color:rgb(93, 93, 93);
    
}
.articleParraf{
    padding: .5rem;
    text-align: left;
    margin-bottom: 1rem;   
}
.articleParraf__h3{
    color:#000;
    font-size: .7rem; 
    text-transform: uppercase;
    margin-bottom: .5rem;
    &:first-of-type{
        padding-top: 0;
    }
}
.articleParraf__p,.articleParraf__h3{
    font-size: .8rem;    
}
@media #{$landscape-phones}{
    .containerParraf{
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .articleParraf{
        width: 50%;   
    }
}
@media #{$tablets}{
}
@media #{$desktops}{
    .containerParraf{
        width: 85%;
        margin-left: auto;
        margin-right: auto;               
    } 
}
@media #{$large-desktops}{
    .containerParraf{
        width: 80%;
    }
}
@media #{$extra-large-desktops}{
    .containerParraf{
        width: 75%;
    }
    .articleParraf{
        width: 25%;
        margin: 0;    
        align-self: flex-start;  
    }
}
@media #{$four-k}{
}