@import "../utilities/mixins";
@import "../utilities/variables";
.formul{
    @include c-flex(column);
    width: 100%;
    padding: 5% 20%;   
    box-shadow: 0 .06rem #dfdfdf;
}
.article__containerForm{
    margin-left: auto;
    margin-right: auto;
    background-color:#ffffff;    
    width: 90%;
}
.formul__divContainer{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
.forml__label{
    position: absolute;
    left: 0;
    top: 0;
    clip: rect(0 0 0 0 );
}
@media #{$landscape-phones}{
    .formul{
       padding: 1rem 6rem;   
    }
    .article__containerForm{
        width: 85%;
    }
}
@media #{$tablets}{
    .article__containerForm{
        width: 80%;
    }
}
@media #{$desktops}{
    .article__containerForm{
        width: 70%;
    }
}
@media #{$large-desktops}{
    .article__containerForm{
        width: 60%;
    }
}
@media #{$extra-large-desktops}{   
    .article__containerForm{
        width: 50%;
    }
}