@import "../utilities/mixins";
@import "../utilities/variables";
.graficData{
    padding: .5rem;
    >*{
        margin-bottom: 0.5rem;
    }    
    background-color: $background-color-grafic-data;   
}
.graficData__h2{   
    position: relative;
    color:#000;
    &::after{
        content: "";
        display: inline-block;
        width: 6%;
        height: 0.06rem;
        left: 47%;
        bottom: -.5rem;
        position: absolute;
        background-color: black;
    }
}
.graficData__span{
    color:$color-span;
}
.graficData__hr{
 font-weight: 100;
 margin-bottom: 1rem;
 margin-top: 1rem;
}
.graficData__p1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.graficData__containerVideo{
 @include c-flex(row);
}
.graficData__p2{
    width: 70%;
    padding: .5rem;
}
.graficData__video{
   width: 30%;
   padding: .5rem;
}
@media (min-width:36rem){
    .graficData{
        padding: 2rem 1rem;
    }
}
@media (min-width:48rem){
    .graficData{
        padding: 3.5rem 2rem;
        width: 50%;
    }
}
@media (min-width:62rem){
    .graficData{
        padding: 4.5rem 3rem;

    }
}
@media (min-width:75rem){
    .graficData{
        padding: 5.5rem 3rem;
    }
   
}
@media (min-width:100rem){
    .graficData{
        padding: 6.5rem 4rem;

    }
    
}