@import "../utilities/mixins";
@import "../utilities/variables";
.graficData{
    padding: .5rem;
    >*{
        margin-bottom: 0.5rem;
    }    
}
.graficData__hr{
 font-weight: 100;
 margin-bottom: 1rem;
 margin-top: 1rem;
}
.graficData__p1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.graficData__containerVideo{
 @include c-flex(row); 
}
.chanceoutline{
    --control-focus-outline: 2px solid $color-red;
}
.graficData__p2{
    width: 70%;
    padding: .5rem;
}
.graficData__video{
   width: 30%;
   padding: .5rem;
}
@media #{$landscape-phones}{
   
}
@media #{$tablets}{
    .graficData{
        width: 50%;
    }
}
@media #{$desktops}{
    
}
@media #{$large-desktops}{
   
}
@media #{$extra-large-desktops}{
}