@import "../utilities/mixins";
@import "../utilities/variables";
.inputext{
  width: 100%;
  border: 0; 
  border-bottom: .1rem #ebebeb solid;
  padding-top: 1.5rem;
  padding-left: .5rem;
  font-size: inherit;
  position: relative;
  font-weight: 400;
  :focus{
    box-shadow: 0 0 0 .2rem $color-red;
}
}
.submit{
    width: auto;
    padding: .6rem 3rem;
    $isButtom:true;
    @include conduct(#fff,$isButtom);
    border:.15rem solid #878787;
}
.textarea{
    margin-bottom: 1rem; 
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    &::placeholder{
      font-family: "Roboto";
      font-size: inherit;
      //font-weight: 400;
      margin-left: 2rem;
  }
}
@media #{$landscape-phones}{
 
}
@media #{$tablets}{
  
}