@import "../utilities/variables";
.link{
    cursor: pointer;
    line-height: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    &:link{
        color:$color-link;
    }    
    &:visited{
        color:$color-secundary;
    }
    &:hover{
        color: $color-black;
    }
    &:focus{
        box-shadow: 0 0 0 .2rem $color-secundary inset;
    }
}
@media #{$landscape-phones}{
    .link{
        padding: 0 3rem;
    }
}
@media #{$tablets}{
    .link{
        padding: 0 2rem;
    }
}