@import "../utilities/variables";
@import "../utilities/mixins";

.menu{
    background-color: transparent;
    color: $color-white;
    border: 0;
    height: 100%;
    font-size: $font-size-menu;
    position: relative;   
    &:hover{
        cursor: pointer;
    }
}
.menu__all{   
    top: 0;
    right: 0;
    position: absolute;
    background-color: $background-color-menu;
    width: 100%;
    z-index: 2000;
    transform: translateX(120%);
    transition: transform 2s ease;
    display: none;
}
.menu__ul{
    margin-bottom: 5rem;
}
.menu__li{
    width: 100%;
    &:hover{
        background-color: $color-white;
    }
}
.menu__close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    &:hover{
        background-color: $color-black;
    }
}
@media #{$landscape-phones}{   
}
@media #{$tablets}{   
    .menu__all{
        width: 50%;
    }
    .menu{
        &::after{
            content: "MENU";
            margin: 0 1rem;
            font-size: inherit;
            font-family: "Roboto";
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
@media #{$desktops}{
    .menu__all{
        width: 40%;
    }
}
@media #{$large-desktops}{
    
}
