@import "../utilities/mixins";
@import "../utilities/variables";
.socialMedia{
    color:$color-primary;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.socialMedia--header{
    position: relative;
    margin-bottom: 3rem;
    &::before{
        content: "";
        position: absolute;
        height: .15rem;
        width: 75%;
        left: 12.5%;
        top:-2rem;
        background-color: $color-white;
    }
}
.socialMedia__li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia__a{
    margin:0 1rem;
    &:focus{
        box-shadow: 0 0 0 .2rem $background-color-body,0 0 0 .4rem $color-red;
    } 
}
.socialMedia__a--header{
    &:focus{
        box-shadow: 0 0 0 .2rem $color-black,0 0 0 .4rem $color-red;
    } 
}
@media #{$landscape-phones}{
   
}
@media #{$tablets}{
    
}
@media #{$desktops}{
   
}
@media #{$large-desktops}{
     
}