@import "../utilities/variables";
@font-face{
    font-family: "Roboto";
    src:url("./font/Roboto/Roboto-light.ttf");
    font-weight: 400;
}
@font-face{
    font-family: "Roboto";
    src:url("./font/Roboto/Roboto-Bold.ttf");
    font-weight: 900;
}
@font-face{
    font-family: "Roboto";
    src:url("./font/Roboto/Roboto-Regular.ttf");
    font-weight: 600;
}

@font-face{
    font-family: "Roboto";
    src:url("./font/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}